Nagape/Web References/me.agapeconnect/datatsync.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TriggerEmails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriggerEmailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TriggerEmailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestAPBalances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestAPBalancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestAPBalancesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAPBalances">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Balances" type="tns:ArrayOfAPBalanceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAPBalanceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="APBalanceInfo" type="tns:APBalanceInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="APBalanceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CostCenter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpensesPayable" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="SpSalaryAdv" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="PreviousSalary" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountBalance" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AdvanceBalance" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetAPBalancesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetAPBalancesResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSuggestedPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSuggestedPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSuggestedPaymentResult" type="tns:SPResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SPResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Control" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExpensesPayable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PayrolPayable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxablePayable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalaryAcc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Format" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SuggestedPayments" type="tns:ArrayOfSuggestedPayment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSuggestedPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SuggestedPayment" type="tns:SuggestedPayment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SuggestedPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpPayable" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpTaxable" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Salary" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Settings" type="tns:SetupInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SetupInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="urlDataserverPortal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdvSuffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AdvPrefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_DatalinkId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_DataserverVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_WindowsVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_SQLVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_TNT_InstallPath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_acDatalink_Error" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="acDatalink_Active" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="acDatalink_ComputerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="acDatalink_PollDelayInSeconds" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="currentFiscalPeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="changedBudgets" type="tns:ArrayOfAP_Budget_Summary1" />
          <s:element minOccurs="1" maxOccurs="1" name="FirstFiscalMonth" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAP_Budget_Summary1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AP_Budget_Summary1" nillable="true" type="tns:AP_Budget_Summary1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AP_Budget_Summary1">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BudgetSummaryId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Account" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RC" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="P1" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P2" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P3" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P4" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P5" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P6" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P7" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P8" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P9" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P10" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P11" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="P12" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="FiscalYear" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Changed" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdated" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Portalid" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Error" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestUpdateResult" type="tns:DownloadResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DownloadResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="WebUsers" type="tns:ArrayOfWebUser" />
          <s:element minOccurs="0" maxOccurs="1" name="Rmbs" type="tns:ArrayOfRmb" />
          <s:element minOccurs="0" maxOccurs="1" name="Advances" type="tns:ArrayOfAdv" />
          <s:element minOccurs="0" maxOccurs="1" name="ChangedBudgets" type="tns:ArrayOfAP_Budget_Summary1" />
          <s:element minOccurs="0" maxOccurs="1" name="AcctsReceivable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AcctsPayable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TaxableAcctsReceivable" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ControlAccount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="APIVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VersionStatus" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWebUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebUser" type="tns:WebUser" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GCXID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GCXUserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountsUser" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalAccounts" type="tns:ArrayOfWebProfileAccount" />
          <s:element minOccurs="0" maxOccurs="1" name="TeamAccounts" type="tns:ArrayOfWebProfileAccount" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentAccounts" type="tns:ArrayOfWebProfileAccount" />
          <s:element minOccurs="0" maxOccurs="1" name="OtherAccounts" type="tns:ArrayOfWebProfileAccount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWebProfileAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebProfileAccount" type="tns:WebProfileAccount" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebProfileAccount">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CostCenter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Designations" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRmb">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Rmb" type="tns:Rmb" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Rmb">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RmbNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserInitials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalCostCenter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalAccountCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApproverName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountsName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubmittedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ApprovedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcessDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Period" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SupplierCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AdvanceRequest" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Department" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfRmbLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRmbLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RmbLine" type="tns:RmbLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RmbLine">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RmbLineNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RmbNo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="LineType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CostCenter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TransDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Comment" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="GrossAmount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Taxable" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="VATRate" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="VATCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Receipt" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceiptNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mileage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MileageRate" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AnalysisCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Department" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="VAT" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdv">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Adv" type="tns:Adv" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Adv">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AdvanceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LocalAdvanceId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Reason" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserInitials" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StaffName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PersonalCostCenter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ApproverName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountsName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SubmittedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ApprovedDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProcessDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Period" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Year" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigCurrency" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestRequestUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestRequestUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TestRequestUpdateResult" type="tns:DownloadResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="uResp" type="tns:UpdateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TntStatus" type="tns:StatusDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="Rmbs" type="tns:ArrayOfStatusDescription" />
          <s:element minOccurs="0" maxOccurs="1" name="Budgets" type="tns:ArrayOfAP_Budget_Summary1" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="StatusDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RowId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualPeriod" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ActualYear" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BatchId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfStatusDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="StatusDescription" type="tns:StatusDescription" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateResponsesResponse">
        <s:complexType />
      </s:element>
      <s:element name="RequestUpdateWithAccountRefresh">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ccs" type="tns:ArrayOfACUnit" />
            <s:element minOccurs="0" maxOccurs="1" name="accs" type="tns:ArrayOfACUnit" />
            <s:element minOccurs="1" maxOccurs="1" name="settings" type="tns:SetupInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfACUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ACUnit" type="tns:ACUnit" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ACUnit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestUpdateWithAccountRefreshResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RequestUpdateWithAccountRefreshResult" type="tns:DownloadResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="boolean" type="s:boolean" />
      <s:element name="SPResponse" type="tns:SPResponse" />
      <s:element name="DownloadResponse" type="tns:DownloadResponse" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TriggerEmailsSoapIn">
    <wsdl:part name="parameters" element="tns:TriggerEmails" />
  </wsdl:message>
  <wsdl:message name="TriggerEmailsSoapOut">
    <wsdl:part name="parameters" element="tns:TriggerEmailsResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TestAPBalancesSoapIn">
    <wsdl:part name="parameters" element="tns:TestAPBalances" />
  </wsdl:message>
  <wsdl:message name="TestAPBalancesSoapOut">
    <wsdl:part name="parameters" element="tns:TestAPBalancesResponse" />
  </wsdl:message>
  <wsdl:message name="SetAPBalancesSoapIn">
    <wsdl:part name="parameters" element="tns:SetAPBalances" />
  </wsdl:message>
  <wsdl:message name="SetAPBalancesSoapOut">
    <wsdl:part name="parameters" element="tns:SetAPBalancesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSuggestedPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:GetSuggestedPayment" />
  </wsdl:message>
  <wsdl:message name="GetSuggestedPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:GetSuggestedPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:RequestUpdate" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:RequestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="TestRequestUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:TestRequestUpdate" />
  </wsdl:message>
  <wsdl:message name="TestRequestUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:TestRequestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateResponsesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateResponses" />
  </wsdl:message>
  <wsdl:message name="UpdateResponsesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponsesResponse" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateWithAccountRefreshSoapIn">
    <wsdl:part name="parameters" element="tns:RequestUpdateWithAccountRefresh" />
  </wsdl:message>
  <wsdl:message name="RequestUpdateWithAccountRefreshSoapOut">
    <wsdl:part name="parameters" element="tns:RequestUpdateWithAccountRefreshResponse" />
  </wsdl:message>
  <wsdl:message name="TriggerEmailsHttpGetIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TriggerEmailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestAPBalancesHttpGetIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestAPBalancesHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetSuggestedPaymentHttpGetIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSuggestedPaymentHttpGetOut">
    <wsdl:part name="Body" element="tns:SPResponse" />
  </wsdl:message>
  <wsdl:message name="TestRequestUpdateHttpGetIn">
    <wsdl:part name="pword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestRequestUpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:message name="TriggerEmailsHttpPostIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TriggerEmailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TestAPBalancesHttpPostIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestAPBalancesHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetSuggestedPaymentHttpPostIn">
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSuggestedPaymentHttpPostOut">
    <wsdl:part name="Body" element="tns:SPResponse" />
  </wsdl:message>
  <wsdl:message name="TestRequestUpdateHttpPostIn">
    <wsdl:part name="pword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TestRequestUpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:portType name="DatatSyncSoap">
    <wsdl:operation name="TriggerEmails">
      <wsdl:input message="tns:TriggerEmailsSoapIn" />
      <wsdl:output message="tns:TriggerEmailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestAPBalances">
      <wsdl:input message="tns:TestAPBalancesSoapIn" />
      <wsdl:output message="tns:TestAPBalancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAPBalances">
      <wsdl:input message="tns:SetAPBalancesSoapIn" />
      <wsdl:output message="tns:SetAPBalancesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSuggestedPayment">
      <wsdl:input message="tns:GetSuggestedPaymentSoapIn" />
      <wsdl:output message="tns:GetSuggestedPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <wsdl:input message="tns:RequestUpdateSoapIn" />
      <wsdl:output message="tns:RequestUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestRequestUpdate">
      <wsdl:input message="tns:TestRequestUpdateSoapIn" />
      <wsdl:output message="tns:TestRequestUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResponses">
      <wsdl:input message="tns:UpdateResponsesSoapIn" />
      <wsdl:output message="tns:UpdateResponsesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateWithAccountRefresh">
      <wsdl:input message="tns:RequestUpdateWithAccountRefreshSoapIn" />
      <wsdl:output message="tns:RequestUpdateWithAccountRefreshSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatatSyncHttpGet">
    <wsdl:operation name="TriggerEmails">
      <wsdl:input message="tns:TriggerEmailsHttpGetIn" />
      <wsdl:output message="tns:TriggerEmailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestAPBalances">
      <wsdl:input message="tns:TestAPBalancesHttpGetIn" />
      <wsdl:output message="tns:TestAPBalancesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSuggestedPayment">
      <wsdl:input message="tns:GetSuggestedPaymentHttpGetIn" />
      <wsdl:output message="tns:GetSuggestedPaymentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TestRequestUpdate">
      <wsdl:input message="tns:TestRequestUpdateHttpGetIn" />
      <wsdl:output message="tns:TestRequestUpdateHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DatatSyncHttpPost">
    <wsdl:operation name="TriggerEmails">
      <wsdl:input message="tns:TriggerEmailsHttpPostIn" />
      <wsdl:output message="tns:TriggerEmailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestAPBalances">
      <wsdl:input message="tns:TestAPBalancesHttpPostIn" />
      <wsdl:output message="tns:TestAPBalancesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSuggestedPayment">
      <wsdl:input message="tns:GetSuggestedPaymentHttpPostIn" />
      <wsdl:output message="tns:GetSuggestedPaymentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TestRequestUpdate">
      <wsdl:input message="tns:TestRequestUpdateHttpPostIn" />
      <wsdl:output message="tns:TestRequestUpdateHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DatatSyncSoap" type="tns:DatatSyncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TriggerEmails">
      <soap:operation soapAction="http://tempuri.org/TriggerEmails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAPBalances">
      <soap:operation soapAction="http://tempuri.org/TestAPBalances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAPBalances">
      <soap:operation soapAction="http://tempuri.org/SetAPBalances" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuggestedPayment">
      <soap:operation soapAction="http://tempuri.org/GetSuggestedPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <soap:operation soapAction="http://tempuri.org/RequestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestUpdate">
      <soap:operation soapAction="http://tempuri.org/TestRequestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResponses">
      <soap:operation soapAction="http://tempuri.org/UpdateResponses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateWithAccountRefresh">
      <soap:operation soapAction="http://tempuri.org/RequestUpdateWithAccountRefresh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatatSyncSoap12" type="tns:DatatSyncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TriggerEmails">
      <soap12:operation soapAction="http://tempuri.org/TriggerEmails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAPBalances">
      <soap12:operation soapAction="http://tempuri.org/TestAPBalances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAPBalances">
      <soap12:operation soapAction="http://tempuri.org/SetAPBalances" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuggestedPayment">
      <soap12:operation soapAction="http://tempuri.org/GetSuggestedPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdate">
      <soap12:operation soapAction="http://tempuri.org/RequestUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestUpdate">
      <soap12:operation soapAction="http://tempuri.org/TestRequestUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResponses">
      <soap12:operation soapAction="http://tempuri.org/UpdateResponses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestUpdateWithAccountRefresh">
      <soap12:operation soapAction="http://tempuri.org/RequestUpdateWithAccountRefresh" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatatSyncHttpGet" type="tns:DatatSyncHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TriggerEmails">
      <http:operation location="/TriggerEmails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAPBalances">
      <http:operation location="/TestAPBalances" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuggestedPayment">
      <http:operation location="/GetSuggestedPayment" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestUpdate">
      <http:operation location="/TestRequestUpdate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DatatSyncHttpPost" type="tns:DatatSyncHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TriggerEmails">
      <http:operation location="/TriggerEmails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAPBalances">
      <http:operation location="/TestAPBalances" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSuggestedPayment">
      <http:operation location="/GetSuggestedPayment" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestRequestUpdate">
      <http:operation location="/TestRequestUpdate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatatSync">
    <wsdl:port name="DatatSyncSoap" binding="tns:DatatSyncSoap">
      <soap:address location="https://agapeconnect.me/desktopModules/Agapeconnect/StaffAdmin/datatsync.asmx" />
    </wsdl:port>
    <wsdl:port name="DatatSyncSoap12" binding="tns:DatatSyncSoap12">
      <soap12:address location="https://agapeconnect.me/desktopModules/Agapeconnect/StaffAdmin/datatsync.asmx" />
    </wsdl:port>
    <wsdl:port name="DatatSyncHttpGet" binding="tns:DatatSyncHttpGet">
      <http:address location="https://agapeconnect.me/desktopModules/Agapeconnect/StaffAdmin/datatsync.asmx" />
    </wsdl:port>
    <wsdl:port name="DatatSyncHttpPost" binding="tns:DatatSyncHttpPost">
      <http:address location="https://agapeconnect.me/desktopModules/Agapeconnect/StaffAdmin/datatsync.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>